{% extends "admin/change_form.html" %}

{% block object-tools-items %}
    <ul class="object-tools">
        {% if has_absolute_url %}
        <li>
            <a href="{{ absolute_url }}" target="_blank" class="viewsitelink">Zobacz na stronie</a>
        </li>
        {% endif %}
    </ul>
{% endblock %}