<!DOCTYPE html>
<html>
<head lang="en">
{% block head %}

    {% block links %}

    {% load staticfiles %}
    <meta charset="UTF-8">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{% static "css/freelancer.css" %}" rel="stylesheet">

    <link rel="stylesheet" href="{% static "css/creative.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/agency.css" %}" type="text/css">
    <link rel="stylesheet" href="{% static "css/animate.min.css" %}" type="text/css">

    <!-- Custom Fonts -->

    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Montserrat:400,700" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic" rel="stylesheet" type="text/css">

    {% endblock %}

    <title>{% block title %}{% endblock %}</title>

{% endblock %}
</head>
<body>
{% block body %}


{% block navigation %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#page-top">Trzy światy geometrii</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href="#page-top"></a>
                </li>
                <li class="page-scroll">
                    <a href="#authors">Autorzy</a>
                </li>
                <li class="page-scroll">
                    <a href="#categories">Publikacje</a>
                </li>
                <li class="page-scroll">
                    <a href="#contact">Kontakt</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
{% endblock %}

{% block main %}
###
{% endblock %}

{% block footer %}
<footer class="text-center">
    <div class="footer-above">
        <div class="container">
            <div class="row">
                <div class="footer-col col-md-4">
                    <h3>Lokalizacja</h3>
                    <p>Bialystok<br>Uniwersytet w Bialymstoku
                    <br>ul. Marii Skłodowskiej-Curie 14<br>
                        15-097 Białystok<br>85 745 70 00
                    </p>
                </div>
                <div class="footer-col col-md-4">
                    <h3>Zobacz wiecej</h3>
                    <ul class="list-inline">
                        <li>
                            <a href="http://www.uwb.edu.pl" class="btn-social btn-outline"><i class="fa fa-university"></i></a>
                        </li>
                        <li>
                            <a href="http://www.facebook.com/InstytutInformatykiUwb" class="btn-social btn-outline"><i class="fa fa-fw fa-facebook"></i></a>
                        </li>
                    </ul>
                </div>
                <div class="footer-col col-md-4">
                    <h3>O stronie</h3>
                    <p>Korzystając z tego portalu porównasz trzy różne światy geometryczne. Dużo łatwiej jest zrozumieć założenia geometrii euklidesowej i geometrii nieeuklidesowych pracując metodą porównawczą.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-below">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    Trzy światy geometrii
                </div>
            </div>
        </div>
    </div>
</footer>
{% endblock %}

{% block scripts_footer %}
    <!-- jQuery -->
    <script src="{% static "js/jquery.js" %}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{% static "js/bootstrap.min.js" %}"></script>

    <!-- Plugin JavaScript -->
    <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="{% static "js/classie.js" %}"></script>
    <script src="{% static "js/cbpAnimatedHeader.js" %}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{% static "js/freelancer.js" %}"></script>

    <script src="{% static "js/creative.js" %}"></script>


{% endblock %}

{% endblock %}
</body>
</html>