
.team-member {
    margin-bottom: 50px;
    text-align: center;
}

.team-member img {
    margin: 0 auto;
    border: 50px solid #fff;
}

.team-member h4 {
    margin-top: 0px;
    margin-bottom: 0;
    text-transform: none;
}

.team-member p {
    margin-top: 0;
}