{% extends "base/base_category.html" %}
{% load staticfiles %}

{% block title %} {{ object.name }} {% endblock %}
{% block navbar-brand %} {{ object.name }} {% endblock %}

{% block navbar-links %}
<li>
    <a href="/">Strona glowna</a>
</li>
{% endblock %}

{% block main %}

{% if object.image %}
<header class="intro-header" style="background-image: url({{ object.image.url }})">
{% else %}
<header class="intro-header" style="background-image: url({% static 'img/geometry.jpg' %})">
{% endif %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ object.name }}</h1>
                    <hr class="small">
                    <span class="subheading">{{ object.desc|safe }}</span>
                </div>
            </div>
        </div>
    </div>

</header>

{% for entry in entries %}

<div class="content-section-b">

    <div class="container">
        <div class="row">
            <div class="{% cycle 'col-lg-5 col-lg-offset-1 col-sm-push-6  col-sm-6' 'col-lg-5 col-sm-6' %}">
                <hr class="section-heading-spacer">
                <div class="clearfix"></div>
                    <h2 class="section-heading">
                        <a href="{{ entry.get_absolute_url }}">{{ forloop.counter }}. {{ entry.name }}</a>
                    </h2>
                <p class="lead">{{ entry.desc }}</p>
            </div>
            <div class="{% cycle 'col-lg-5 col-sm-pull-6  col-sm-6' 'col-lg-5 col-lg-offset-2 col-sm-6' %}">
                {% if entry.image %}
                <img class="img-responsive" src="{{ entry.image.url }}" alt="">
                {% endif %}
            </div>
        </div>
    </div>
</div>
{% endfor %}

{% endblock %}