{% extends "base/base_category.html" %}
{% load staticfiles %}

{% block title %} {{ object.name }} {% endblock %}
{% block navbar-brand %} {{ object.name }} {% endblock %}

{% block navbar-links %}
<li>
    <a href="/">Strona glowna</a>
</li>
{% endblock %}


{% block main %}

{% if object.banner %}
<header class="intro-header" style="background-image: url({{ object.banner.url }})">
{% else %}
<header class="intro-header" style="background-image: url({% static 'img/geometry.jpg' %})">
{% endif %}

    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="site-heading">
                    <h1>{{ object.name }}</h1>
                    <hr class="small">
                    <span class="subheading">{{ object.desc|safe }}</span>
                </div>
            </div>
        </div>
    </div>
</header>


<div class="container">
    <div class="row">
        <div class="col-md-8">
            <div class="text-art">{{ object.text|safe }}</div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <ul class="list-group">
                    {% for nav in navigation %}
                    <a href="{{ nav.get_absolute_url }}" class="list-group-item {% if object.pk == nav.pk %}active{% endif %}">{{ forloop.counter }}. {{ nav.name }}</a>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock %}