{% extends "base/base_main.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block title %} Trzy swiaty geometrii {% endblock %}

{% block main %}

<header id="page-top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-lg-offset-3">
                <div class="col-lg-3">
                    <img class="img-responsive" src="{% static "img/logo-uwb.png" %}" alt="">
                </div>
                <div class="col-lg-3">
                    <img class="img-responsive" src="{% static "img/logo-elte.png" %}" alt="">
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <div class="col-lg-12">
                    <div class="intro-text">
                        <span class="name text-center">Tworzymy całe nowe światy z niczego</span>
                        <hr class="star-light">
                        <span class="skills">Przygody na płaszczyźnie, sferze i półsferze</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>


<section id="authors" class="bg-light-gray">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Autorzy</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            {% for user in users %}
            <div class="col-sm-4">
                <div class="team-member">
                    {% if user.avatar %}
                    <a href="{% if user.slug %}{{ user.get_absolute_url }}{% else %}#{% endif %}">
                        {% thumbnail user.avatar "200x200" crop="center" as im %}
                        <img src="{{ im.url }}" class="img-responsive img-circle" alt="">
                        {% endthumbnail %}
                    </a>
                    {% else %}
                    <a href="{% if user.slug %}{{ user.get_absolute_url }}{% else %}#{% endif %}">
                        <img src="{% static "img/no_avatar_big.png" %}" class="img-responsive img-circle" alt="">
                    </a>
                    {% endif %}
                    <a style="color: black" href="{% if user.slug %}{{ user.get_absolute_url }}{% else %}#{% endif %}"><h4>{{ user.show_username }}</h4></a>
                    <p style="color: grey">{{ user.mainpage_desc|safe }}</p>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row">
            <div class="col-lg-12  text-center">
                <p class="large text-muted">Korzystając z tego portalu porównasz trzy różne światy geometryczne. Dużo łatwiej jest zrozumieć założenia geometrii euklidesowej i geometrii nieeuklidesowych pracując metodą porównawczą. Niezależnie od wieku i wykonywanego zawodu, z odrobiną zaciekawienia i wytrwałości zrozumiesz i polubisz treści zawarte na tej stronie. To sprawi, że polubisz geometrię, ponieważ będziesz ją tworzył sam! Euklides powiedział: „Nie ma królewskiej drogi do geometrii. To prawda, ale dodamy jeszcze: Nie ma  niewolniczej drogi również. W strachu nie zbliżymy się do żadnej nauki ani jej nie polubimy. Jest tylko jedna droga do geometrii i innych nauk: droga równych szans. Czytając
Galileusza, Eulera, Bolya czy Banacha jesteśmy partnerami autorów. Nie dlatego, że myślimy, że jesteśmy tak wielcy jak oni, ale ponieważ oni oczekiwali, że będziemy ich partnerami. Nie podporządkowanymi uczniami, ale myślącymi ludźmi, do których wielcy kierowali swoje idee. Powodzenia w odkrywaniu geometrii!</p>
            </div>
        </div>
    </div>
</section>



<section class="no-padding" id="categories">
    <div class="container-fluid">
        <div class="row no-gutter">

            {% for cat in categories %}
            <div class="col-lg-4 col-sm-6">
                <a href="{{ cat.get_absolute_url }}" class="portfolio-box">
                    {% if cat.image %}
                    {% thumbnail cat.image "650x350" crop="center" as im %}
                        <img src="{{ im.url }}" class="img-responsive" alt="">
                    {% endthumbnail %}
                    {% else %}
                        <img src="" class="img-responsive"  alt="">
                    {% endif %}
                    <div class="portfolio-box-caption">
                        <div class="portfolio-box-caption-content">
                            <div class="project-category text-faded">
                                {{ cat.author.show_username }}
                            </div>
                            <div class="project-name">
                                {{ cat.name }}
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</section>

<section id="contact">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2>Kontakt</h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2">

                <form method="post" id="contactForm" action="{% url 'contact' %}" >
                    {% csrf_token %}
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Tytul</label>
                            {{ form.name }}
                            <!--<input type="text" class="form-control" placeholder="Nazwa" id="name" required data-validation-required-message="Please enter your name.">-->
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Email</label>
                            {{ form.email }}
                            {{ form.email.error }}
                            <!--<input type="email" class="form-control" placeholder="Email" id="email" required data-validation-required-message="Please enter your email address.">-->
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <div class="row control-group">
                        <div class="form-group col-xs-12 floating-label-form-group controls">
                            <label>Wiadomosc</label>
                            {{ form.text }}
                            {{ form.text.error }}
                            <!--<textarea rows="5" class="form-control" placeholder="Wiadomosc" id="message" required data-validation-required-message="Please enter a message."></textarea>-->
                            <p class="help-block text-danger"></p>
                        </div>
                    </div>
                    <br>
                    <div id="success"></div>
                    <div class="row">
                        <div class="form-group col-xs-12">
                            <button type="submit" class="btn btn-success btn-lg">Wyslij</button>
                        </div>
                    </div>
                </form>

            </div>
        </div>
    </div>
</section>
{% endblock %}