{% extends "base/base_main.html" %}
{% load staticfiles %}
{% load thumbnail %}

{% block links %}
    <link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
    <link href="{% static "css/profile.css" %}" rel="stylesheet">
    <link href="{% static "font-awesome/css/font-awesome.min.css" %}" rel="stylesheet" type="text/css">

{% endblock %}

{% block title %} {{ object.show_username }}{% endblock %}


{% block navigation %}
<nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header page-scroll">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="">{{ object.slug }}</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden">
                    <a href=""></a>
                </li>
                <li class="page-scroll">
                    <a href="/">Strona glowna</a>
                </li>
            </ul>
        </div>
        <!-- /.navbar-collapse -->
    </div>
    <!-- /.container-fluid -->
</nav>
{% endblock %}


{% block main %}

<header>
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="container">
                    <div class="row profile">
                        <div class="col-md-3">
                            <div class="profile-sidebar">
                                <div class="profile-userpic">
                                    {% if object.avatar %}
                                        {% thumbnail object.avatar "200x200" crop="center" as im %}
                                        <img src="{{ im.url }}" class="img-responsive img-circle" alt="">
                                        {% endthumbnail %}
                                    {% else %}
                                        <img src="{% static "img/no_avatar_big.png" %}" class="img-responsive img-circle" alt="">
                                    {% endif %}

                                </div>

                                <div class="profile-usertitle">
                                    <div class="profile-usertitle-name">
                                        {{ object.show_username }}
                                    </div>
                                    <div class="profile-usertitle-job">
                                        {{ object.short_desc|safe }}
                                    </div>
                                </div>

                                <div class="profile-usermenu">
                                    <ul class="nav">
                                        {% if object.email %}
                                        <li>
                                            <a href="mailto:{{ object.email }}">
                                            <i class="fa fa-envelope"></i>
                                            {{ object.email }} </a>
                                        </li>
                                        {% endif %}
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-9">
                            <div class="profile-content">
                               {{ object.desc|safe }}
                            </div>
                            <div class="profile-content-down">
                            <table class="table table-bordered table-hover">
                               <thead>
                                  <tr>

                                  </tr>
                               </thead>
                               <tbody>
                                  {% for file in object.files.all %}
                                  <tr>
                                     <td class="success" width="50px"><i class="fa {{ file.icon }}"></i></td>
                                     <td>{{ file.name }}</td>
                                     <td width="150px">
                                         <a href="/media/{{ file.file }}">
                                            <span class="label label-success">Pobrac plik</span>
                                         </a>
                                     </td>
                                  </tr>
                                  {% endfor %}
                               </tbody>
                            </table>
                            <div class="row">
                                <div class="col-md-12">
                                    {% for pub in publications %}
                                    <div class="panel panel-success">
                                        <div class="panel-body">
                                            <h5><a href="{{ pub.get_absolute_url }}">{{ pub.name }}</a></h5>
                                        </div>
                                    </div>
                                    {% endfor %}
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</header>



{% block footer %}
{% endblock %}

{% endblock %}


