{% extends "base/base_main.html" %}

{% block links %}

{% load staticfiles %}
<link href="{% static "css/bootstrap.min.css" %}" rel="stylesheet">
<link href="{% static "css/reg/reg.css" %}" rel="stylesheet">

<script src="{% static "js/reg/TweenLite.min.js" %}"></script>
<script src="http://code.jquery.com/jquery-1.11.1.min.js"></script>
<style>
body {
  background-color: #444;
  background: url({% static "img/reg/" %}{{ image }}
);
</style>

{% endblock %}


{% block title %} Nowe konto {% endblock %}


{% block body %}

<div class="container">
    <div class="row vertical-offset-100">
        <div class="col-md-4 col-md-offset-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row-fluid user-row">
                        <a href="/"><img src="{% static "img/uwb-logo-black.png" %}" class="img-responsive" width="90px" alt="Conxole Admin"/></a>
                    </div>
                </div>
                <div class="panel-body">
                    <form action="{% url 'reg' %}" class="form-signin" method="post">
                        {% csrf_token %}
                        <fieldset>
                            <label class="panel-login">
                                <div class="login_result"></div>
                            </label>

                            {{ form.username }}
                            {{ form.password1 }}
                            {{ form.password2 }}

                            {% for field in form %}
                                {% if field.errors %}
                                <div class="alert alert-danger" role="alert">
                                  <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                                  <span class="sr-only">Error:</span>
                                    {{ field.errors.as_text }}
                                </div>
                                {% endif %}
                            {% endfor %}

                            <br></br>
                            <input class="btn btn-lg btn-success btn-block" type="submit" id="login" value="Utworzyc konto »">
                        </fieldset>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% block scripts_footer %}
<script src="{% static "js/reg/reg.js" %}"></script>
{% endblock %}

{% endblock %}

